{% extends "base.html" %}
{% block content %}
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Download</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in objects %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{obj.Key}}</td> <!-- name object -->
      <td>{{obj.Size|filesizeformat}}</td>
      <td><a href="{% url "home:download_bucket_obj" obj.Key %}">Download</a></td>
      <td><a href="{% url "home:delete_bucket_obj" obj.Key %}">Delete</td>
    </tr>
    {% endfor %}
   

    </tr>
  </tbody>
</table>
{% endblock  %}