{% extends 'base.html' %}

{% block content %}
<form action="" method="post" novalidate>
    {% csrf_token %}


    <div class="form-group mb-3">
        <label for="id_full_name">Phone Number :</label>
        {{ form.phone_number }}
        <small class="text-danger">{{ form.phone_number.errors }}</small>
    </div>
    <div class="form-group mb-3">
        <label for="id_full_name">Password :</label>
        {{ form.password }}
        <small class="text-danger">{{ form.password.errors }}</small>
    </div>
   <input type="submit" value="send">
</form>
{% endblock %}
